@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
}

body {
    font-family: Roboto, sans-serif;
    height: 100%;
}

.ui-mobile .ui-page {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 