.cpi-container {
    width: 100%;
    margin: 0 auto;
    //  overflow: hidden;
    .intro-left:first-child > div {
        text-align: center;
        margin: 15px; 
    }
}



.svg-inline--fa.fa-w-14 {
    width: .65em;
}

// Questions
.form {
    width: 40%;
    margin: 0;
    display: flex;
    flex-direction: column;
 
   // justify-content: center;

    // .form-housing,
    // .form-smoking,
    // .form-alcohol,
    // .form-insurance,
    // .form-car {
    //     p {
    //         margin: 5px 0;
    //         width: 100px;
    //         text-align: center;
    //         position: absolute;
    //         color: #fff;
    //         left: -7px;
    //         top: -4px;
    //     }
    // }

    .form-smoking label,
    .form-housing label,
    .form-alcohol label,
    .form-insurance label,
    .form-car label {
        background-color: #fff;
        color: #000;
    }

    .fa-2x {
        padding: 20px;
        width: 1em;
    }



    .svg-inline--fa.fa-w-18,
    .svg-inline--fa.fa-w-12 {
        width: 1em; // important
    }

    svg {
        margin: 0px;
    }

    .form-fieldset {
        border: none;
    }

    .form-item-container {
        display: flex;
        justify-content: left;
        align-content: center;
        align-items: center;

        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            border: 1px solid #999999;
            //  margin: 0px 5px;
            padding: 15px;
            width: 80px;
            height: 5px;
            transition: all 0.3s ease-in-out;
        }

        input[type="radio"]:checked + label {
            background-color: #006F74;
        }

        // input[type="radio"]:checked.smoking + label {
        //     background-color: #006F74;
        // }

        // input[type="radio"]:checked.alcohol + label {
        //     background-color: #006F74;
        // }

        // input[type="radio"]:checked.insurance + label {
        //     background-color: #006F74;
        // }

        // input[type="radio"]:checked.car + label {
        //     background-color: #006F74;
        // }

        input[type="radio"]:checked + label {
            color: #fff;
            
        }

        input[type="radio"] {
            width: 0;
            height: 0;
        }
    }
}

.remaining {
   display: none;
}

h3.remaining-heading {
    margin-right: 15px;
}


.counter-total {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    width: 40px;
    height: 40px;
}




.counter-feedback {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
    transition: all .3s ease-in;
    opacity: 0;
    background-color: #fff;
    
 
    color: #919191;
    align-self: center;
}


// Wallet & Units



.unit {
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    margin: 5px;
    padding: 0;
    text-align: center;
    align-self: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    z-index: 99;
   background-color: #fbb03c;
    border-radius: 25px;

    i {
        align-self: center;
        color: #fff;
        position: relative;
        right: 2px;
    }
}

.unit2 {
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    margin: 5px;
    padding: 0;
    text-align: center;
    align-self: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #fff;
    z-index: 99;
   background-color: #eee;
    border-radius: 25px;

    i { 
        align-self: center;
        color: #fff;
        position: relative;
        right: 2px; 
    }
}

// Cart

.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  //  border: 2px solid #ccc;
  padding: 25px;
}

.carts {
    display: flex;
    justify-content: center;
}

.cart-theme-education,
.cart-theme-recreation,
.cart-theme-general,
.cart-theme-housing,
.cart-theme-transport,
.cart-theme-other,
.cart-theme-health {
    display: flex;
    flex-direction: column;
    text-align: center;
    //margin: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

.cart-theme-remaining {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 50px;
    .unit {
        background-color: gold;
    } 
}

.cart h3 {
    color: #000;
    padding: 5px 20px;
    /* margin: 0 5px; */
    font-weight: 300;
    //  width: 150px;
}

.cart h2 {
    padding: 15px;
    margin: 0px 0 50px;
    font-weight: 700;
    font-size: 1.17em;
    text-align: left;
}

.carts div {
    margin: 0px 10px;
}


.cart-theme-general .minus,
.cart-theme-general .plus,
.cart-theme-general .icon,
.cart-theme-general h2 {
    color: #74cab3;
}

.cart-theme-general .unit {
    background-color: #74cab3;
}

.cart-theme-housing .minus,
.cart-theme-housing .plus,
.cart-theme-housing .icon,
.cart-theme-housing h2 {
    color: #fbb03c;
}

.cart-theme-housing .unit {
    background-color: #fbb03c;
}

.cart-theme-health .minus,
.cart-theme-health .plus,
.cart-theme-health .icon,
.cart-theme-health h2 {
    color: #e15b45;
}

.cart-theme-health .unit {
    background-color: #e15b45;
}


.cart-theme-recreation .minus,
.cart-theme-recreation .plus,
.cart-theme-recreation .icon,
.cart-theme-recreation h2 {
    color: #c6cd47;
}

.cart-theme-recreation .unit {
    background-color: #c6cd47;
}

.cart-theme-transport .minus,
.cart-theme-transport .plus,
.cart-theme-transport .icon,
.cart-theme-transport h2 {
    color: #d22398;
}

.cart-theme-transport .unit {
    background-color: #d22398;
}

.cart-theme-education .minus,
.cart-theme-education .plus,
.cart-theme-education .icon,
.cart-theme-education h2 {
    color: #00d2e9;
}

.cart-theme-education .unit {
    background-color: #00d2e9;
}

.cart-theme-other .minus,
.cart-theme-other .plus,
.cart-theme-other .icon,
.cart-theme-other h2 {
    color: #6e81be;
}

.cart-theme-other .unit {
    background-color: #6e81be;
}




.cart-item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 5px 10px;
    width: 150px;
    height: 60px;
    //border-bottom: 1px solid #ccc;

    .counter, .icon, .title {
        pointer-events: none;
    }
}

span {
    display: block;
    width: 100%;
    text-align: center;
    align-self: flex-end;
}

.form-output-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}



.highcharts-line {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
}

@media screen and (max-width: 800px) {
    
    .highcharts-line {width: 100%;}
    
}

.highcharts-line-text {
    // padding: 30px;

    h3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 15px;
    }
}

.output-text {
    padding: 15px;
    border: 1px solid green;
}

.highcharts-bar {
    width: 100%;
   // border: 2px solid #ccc;
    margin: 0;

    h2 {
        padding: 15px;
        margin: 0px 0 30px;
        font-weight: 700;
        font-size: 1.17em;
        text-align: left;
    }

    .intro-text:last-of-type {
        margin-top: 15px;
    }
}

.btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0.2em 0;

    .btn-highchart,
    .btn-text {
        width: 30px;
        height: 30px;
        padding: 10px;
        color: #fff;
        background-color: #4ec06d;
        border: 1px solid #fff;
        cursor: pointer;
        text-align: center;
    }

    .btn-text {
        width: auto;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .btn-highchart:last-of-type {
        background-color: rgba(0,0,0,0);
        background-color: transparent;
    }
}

.cart-item {
    .btn-container {
        flex-direction: column;
        width: 100%;
    }

    .counter-total {
        font-size: 2em;
    }

    .counter-total,
    .counter-feedback {
        background-color: #5bc1a5;
        border: 0;
    }
}

.btn-container.charts {
    flex-direction: column;
}

.bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 0;
   
}
